<p>main works!</p>

<a routerLink="/login">zz</a>

<app-knjiga-prikaz></app-knjiga-prikaz>



<!-- <br>
<a routerLink="/login">Login</a>
<br>
<a routerLink="/tabela-osoba" *ngIf="validirajUloge(['ROLE_ADMIN'])">Tabela svih osoba</a>
<br>
<a routerLink="/forma-osoba" *ngIf="validirajUloge(['ROLE_ADMIN'])">Forma osoba</a>
<br>
<a routerLink="/tabela-rezervacija" *ngIf="validirajUloge(['ROLE_USER', 'ROLE_ADMIN'])">Tabela svih rezervacija</a>
<br>
<a routerLink="/forma-rezervacija" *ngIf="validirajUloge(['ROLE_ADMIN'])">Forma rezervacija</a>
<br> -->