<p>login works!</p>

<form (ngSubmit)="ulogujSe()" [formGroup]="forma">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Korisnicko ime </mat-label>
            <input matInput type="text" required formControlName="korisnickoIme">
        </mat-form-field> 
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Lozinka  </mat-label>
            <input matInput type="password" required formControlName="lozinka">
        </mat-form-field>
    </div>

    <div>
        <button type="submit" mat-raised-button color="primary">Potvrdi</button>
    </div>
</form>