
<app-main></app-main>
<router-outlet></router-outlet>   <!--kada stavim ovaj tag onda on prikazuje samo rute koje sam postavio u app routing module i njihov redosled i security-->























<!-- <a routerLink="/login">zz</a> -->
<!-- <app-knjiga-prikaz></app-knjiga-prikaz> -->


<!-- <br>
<a routerLink="/login">Login</a>
<br>
<a routerLink="/tabela-osoba" *ngIf="validirajUloge(['ROLE_ADMIN'])">Tabela svih osoba</a>
<br>
<a routerLink="/forma-osoba" *ngIf="validirajUloge(['ROLE_ADMIN'])">Forma osoba</a>
<br>
<a routerLink="/tabela-rezervacija" *ngIf="validirajUloge(['ROLE_USER', 'ROLE_ADMIN'])">Tabela svih rezervacija</a>
<br>
<a routerLink="/forma-rezervacija" *ngIf="validirajUloge(['ROLE_ADMIN'])">Forma rezervacija</a>
<br> -->


<!-- <app-tabela-automobila (prosledi)="proslediAutomobilZaIzmenu($event)"></app-tabela-automobila>
<app-forma-automobila [elementZaIzmenu]="automobilZaIzmenu"></app-forma-automobila>

<app-tabela-servisa (prosledi)="proslediServisZaIzmenu($event)"></app-tabela-servisa>
<app-forma-servisa [elementZaIzmenu]="servisZaIzmenu"></app-forma-servisa> -->