<div class="kontejner">
    <button mat-raised-button color="primary" (click)="dodaj()">Dodaj</button>
</div>

<div class="kontejner">

    <table mat-table [dataSource]="elements" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        
        <ng-container matColumnDef="cena">
            <th mat-header-cell *matHeaderCellDef>Cena</th>
            <td mat-cell *matCellDef="let element">{{element.cena + "din"}}</td>
        </ng-container>
        
        <ng-container matColumnDef="datumObjave">
            <th mat-header-cell *matHeaderCellDef>Datum objave</th>
            <td mat-cell *matCellDef="let element">{{element.datumObjave | date}}</td>
        </ng-container>
        
        <ng-container matColumnDef="komadaNaStanju">
            <th mat-header-cell *matHeaderCellDef>Komada na stanju</th>
            <td mat-cell *matCellDef="let element">{{element.komadaNaStanju}}</td>
        </ng-container>
        
        <ng-container matColumnDef="naslov">
            <th mat-header-cell *matHeaderCellDef>Naslov</th>
            <td mat-cell *matCellDef="let element">{{element.naslov}}</td>
        </ng-container>
        
        <ng-container matColumnDef="autor">
            <th mat-header-cell *matHeaderCellDef>Autor</th>
            <td mat-cell *matCellDef="let element">{{element.autor?.ime + " " + element.autor?.prezime }}</td>
        </ng-container>
        
        <ng-container matColumnDef="kategorija">
            <th mat-header-cell *matHeaderCellDef>Kategorija</th>
            <td mat-cell *matCellDef="let element">{{element.kategorija?.naziv}}</td>
        </ng-container>
        
        <ng-container matColumnDef="akcije">
            <th mat-header-cell *matHeaderCellDef>AKCIJE</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="warn"(click)="izbrisi(element.id)">Brisanje</button>
                <button mat-raised-button color="primary"(click)="proslediZaIzmenu(element)">Izmena</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>






<!-- <p>knjiga-prikaz works!</p>

<table>
    <thead>
        <th>ID</th>
        <th>Cena</th>
        <th>Datum objave</th>
        <th>Komada na stanju</th>
        <th>Naslov</th>
        <th>Autor id</th>
        <th>Kategorija id</th>
        <th>AKCIJE</th>
    </thead>
    <tbody>
        <tr *ngFor="let n of elements">
            <td>{{n["id"]}}</td>
            <td>{{n["cena"]}}</td>
            <td>{{n["datumObjave"]}}</td>
            <td>{{n["komadaNaStanju"]}}</td>
            <td>{{n["naslov"]}}</td>
            <td>{{n.autor?.ime}}</td>
            <td>{{n.kategorija?.naziv}}</td>
            <td colspan="2">
                <button (click)="izbrisi(n['id'])">Brisanje</button> 
                <button (click)="proslediZaIzmenu(n)">Izmena</button>  
            </td>
        </tr>
    </tbody>
</table> -->