.table {
    width: 80%;
  }
  
.mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-datumIznajmljivanja {
    padding-left: 16px;
    /* font-size: 25px; */
    padding: 30px;
    font-weight: bold;
    width: auto;
}

.mat-column-datumVracanja {
    font-style: italic;
    text-align: center;
    padding: 30px;
    width: auto;
}

.mat-column-korisnik {
    width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    width: auto;
}

.mat-column-knjiga {
    width: auto;
    text-align: center;
    padding: 30px;
    width: auto;

}

.mat-column-akcije {
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 30px;
    width: auto;
}